/* named colors */
$color-stiletto: #962D3E;
$color-tuna: #343642;
$color-pewter: #979C9C;
$color-mint-julep: #F2EBC7;
$color-astral: #348899;

$color-palesky: #707880;
$color-shark: #1D1F21;
$color-pumice: #e7eae8;
$color-hoki: #5F819D;
$color-nepal: #81A2BE;
$color-patina: #5E8D87;
$color-gulf: #8ABEB7;

/* special colors */
$color-primary: $color-gulf;
$color-primary-dark: $color-patina;

$color-secondary: $color-nepal;
$color-secondary-dark: $color-hoki;

$color-black: $color-shark;
$color-white: $color-pumice;
$color-gray: $color-palesky;

$color-gray-black: #282A2E;
$color-gray-middle: #2A2C2B;
$color-gray-light: #374140;

/* element color */
$body-color: $color-black;
$body-background: $color-white;
