/*
Scaffolding
================================
       < 480px  = xs
480px  - 767px  = ms
768px  - 1023px = sm
1024px - 1259px = md
1260px - 1919px = lg
       > 1920px = xl
*/

$viewport-ms: 480px;
$viewport-sm: 767px;
$viewport-md: 1023px;
$viewport-lg: 1259px;
$viewport-xl: 1919px;
