$_button-crosshair-length: 10px;
$_button-crosshair-color: $color-white;
$_button-crosshair-border-color: $color-gray;
$_button-crosshair-border-width: 2px;
$_button-crosshair-translate: 5px;

.c-button {
    position: relative;
    display: inline-block;
    padding: 8px 40px;
    text-decoration: none;
    color: $body-color;
    font-weight: $font-weight-bold;
    letter-spacing: 0.04em;
}

.c-button--large {
    font-size: $font-size-large;
}

.c-button--crosshair {
    color: $_button-crosshair-color;

    &::before,
    &::after,
    &__background::before,
    &__background::after {
        content: '';
        opacity: 0;
        transition: opacity $base-animation-duration ease, transform $base-animation-duration ease, filter $base-animation-duration cubic-bezier(0.75, 0.9, 0, 1);
        will-change: opacity, transform, filter;
        border-width: $_button-crosshair-border-width;
        border-color: $_button-crosshair-border-color;
        filter: blur(2px);
        pointer-events: none;
        @include size($_button-crosshair-length);
    }

    &::before {
        border-left-style: solid;
        border-top-style: solid;
        transform: translate(-$_button-crosshair-translate, -$_button-crosshair-translate);
        @include position(0, auto, auto, 0);
    }

    &::after {
        border-right-style: solid;
        border-top-style: solid;
        transform: translate($_button-crosshair-translate, -$_button-crosshair-translate);
        @include position(0, 0, auto, auto);
    }

    &:hover::before,
    &:hover::after,
    &:hover &__background::before,
    &:hover &__background::after {
        opacity: 1;
        transform: translate(0, 0);
        filter: blur(0);
    }
}

.c-button--crosshair__background {
    &::before {
        border-right-style: solid;
        border-bottom-style: solid;
        transform: translate($_button-crosshair-translate, $_button-crosshair-translate);
        @include position(auto, 0, 0, auto);
    }

    &::after {
        border-left-style: solid;
        border-bottom-style: solid;
        transform: translate(-$_button-crosshair-translate, $_button-crosshair-translate);
        @include position(auto, auto, 0, 0);
    }
}
