$_polygon-animation-count: 50;
$_polygon-color: rgba($color-primary-dark, .5);

$_animation-duration: 5000ms;
$_animation-function: ease-out;
$_animation-origin-z: random-between(2000, 25000) * -1px;
$_animation-target-z: 100px;


@mixin animation-fly($id) {
    $origin: center-point(random-point-disc(17vw, 10vh));
    $target: center-point(random-point-circle(80vw, 127vh));

    $origin-r-x: random(30);
    $origin-r-y: random(30);
    $origin-r-z: random(15);
    $origin-r-a: random(360) * 1deg;

    $target-r-x: $origin-r-x + random(30) - 30;
    $target-r-y: $origin-r-y + random(35) - 35;
    $target-r-z: $origin-r-z + random(15) - 15;
    $target-r-a: $origin-r-a;


    @keyframes fly-toward-screen-#{$id} {
        0% {
            opacity: 0;
            transform:
                translate3d(point-x($origin), point-y($origin), $_animation-origin-z)
                rotate3d($origin-r-x, $origin-r-y, $origin-r-z, $origin-r-a);
        }
        50%,
        90% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform:
                translate3d(point-x($target), point-y($target), $_animation-target-z)
                rotate3d($target-r-x, $target-r-y, $target-r-z, $target-r-a);
        }
    }
}

.c-flying-polygons {
    overflow: hidden;
    perspective: 100px;

    &__item {
        backface-visibility: visible;
        will-change: transform;
        position: absolute;
        top: 0;
        left: 0;

        &:before {
            content: '';
            border-top: 200px solid transparent;
            border-left: 200px solid $_polygon-color;
            filter: blur(3px);
        }

        @for $i from 1 through $_polygon-animation-count {
            @at-root { @include animation-fly($i); }
            &:nth-child(#{$i}) {
                //animation: fly-toward-screen-#{$i} $_animation-duration $_animation-function infinite (random($_animation-duration) - $_animation-duration);
            }
        }
    }
}
