$_hero-title-color: $color-white;
$_hero-title-background: $color-black;

.c-hero-title {
    @include css-lock(40, 80, 320, 680, font-size, px);
    display: inline;
    color: $_hero-title-color;
    background: $_hero-title-background;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0.5rem 2rem;
    line-height: 1.3;
    border-radius: $base-border-radius;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: -.5em;
}
