@mixin query-min-width($width) {
    @media (min-width: $width) {
        @content;
    }
}

@mixin query-min-height($height) {
    @media (min-height: $height) {
        @content;
    }
}

@mixin query-ms() {
    @include query-min-width($viewport-ms) {
        @content;
    }
}

@mixin query-sm() {
    @include query-min-width($viewport-sm) {
        @content;
    }
}

@mixin query-md() {
    @include query-min-width($viewport-md) {
        @content;
    }
}

@mixin query-lg() {
    @include query-min-width($viewport-lg) {
        @content;
    }
}

@mixin query-xl() {
    @include query-min-width($viewport-xl) {
        @content;
    }
}
