.u-bg-primary { background-color: $color-primary; }
.u-bg-secondary { background-color: $color-secondary; }
.u-bg-gray-black { background-color: $color-gray-black; }
.u-bg-gray-middle { background-color: $color-gray-middle; }
.u-bg-black { background-color: $color-black; }
.u-bg-white { background-color: $color-white; }
.u-bg-gray { background-color: $color-gray; }
